@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  src: url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap') format('truetype');
}
/* Footer style */
#footer {
  font-family: 'Roboto', sans-serif;
  background-color: lavender;
  height: 9%;
  width: 100%;
  float: left;
  padding: 0px;
  overflow: hidden;
  clear: both;
  color: white;
}

/* Container for buttons */
.container {
  margin-top: 5px;
  text-align: center;
  width: 100%;
}

/* Button style */
.btn{
  border: 1px solid rgb(130, 130, 165);
  background-color: white;
  background: none;
  cursor: pointer;
  font-size: 20px;
  margin: 10px;
  transition: 0.8s;
  padding: 10px 20px;
  position: relative;
  overflow: hidden;
  outline: none;
  color: #333;
}

/* Buttons 4 types (depends on animation) */
.btn-ref,
.btn1,
.btn2,
.btn3,
.btn4,
.btn5 {
      outline:none;
      transition: color 0.2s linear;
      text-decoration: none;
      color: #333;
}

/* Button to reset scene in operator mode*/
#no-alg {
  margin-top: 0px;
  outline: none;
  float: center;
}

/* Button to reset scene in student mode*/
#no-alg2 {
  margin-top: 0px;
  outline: none;
  float: center;
}

/*Button for student mode to watch all scenes with timings*/
#watch-scenes {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  float: left;
  margin-top: 0px;
  outline: none;
  padding-left: 0.77%;
  padding-right: 0.77%;
  padding-top: 0.7%;
  padding-bottom: 0.7%;
  max-width: 17.3%;
  min-width: 17.3%;
  background-color: white;
  border-radius: 5px;
  border: solid rgb(130, 130, 165);
  -webkit-box-shadow: 0px 6px 0px rgb(130, 130, 165);
  -moz-box-shadow: 0px 6px 0px rgb(130, 130, 165);
  box-shadow: 0px 6px 0px rgb(130, 130, 165);
}

/* Button to exit operator mode */
#op_button {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  float: right;
  margin-top: 0px;
  outline: none;
  padding-left: 0.77%;
  padding-right: 0.77%;
  padding-top: 0.7%;
  padding-bottom: 0.7%;
  max-width: 17.3%;
  min-width: 17.3%;
  background-color: white;
  border-radius: 5px;
  border: solid rgb(130, 130, 165);
  -webkit-box-shadow: 0px 6px 0px rgb(130, 130, 165);
  -moz-box-shadow: 0px 6px 0px rgb(130, 130, 165);
  box-shadow: 0px 6px 0px rgb(130, 130, 165);
}

/* Buttons "Сбросить" in operator and student modes */
#no-alg, #no-alg2 {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  margin-top: 0px;
  padding-left: 0.77%;
  padding-right: 0.77%;
  font-size: 18px;
  max-width: 17.3%;
  min-width: 17.3%;
  padding-top: 0.7%;
  padding-bottom: 0.7%;
  background-color: white;
  border-radius: 5px;
  border: solid rgb(130, 130, 165);
  -webkit-box-shadow: 0px 6px 0px rgb(130, 130, 165);
  -moz-box-shadow: 0px 6px 0px rgb(130, 130, 165);
  box-shadow: 0px 6px 0px rgb(130, 130, 165);
}

.inactive {
  color: gray;
  background-color: gray;
}

.small-scene {
height: 100%;
width: 100%;
}

#footer-top-border {
  height: 2%;
  clear: both;
  background-color: lavender;
}

/* Makes it impossible to highlight text and objects */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}