@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  src: url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap') format('truetype');
}
/* Footer style */
#footer {
  font-family: 'Roboto', sans-serif;
  background-color: lavender;
  height: 9%;
  width: 100%;
  float: left;
  padding: 0px;
  overflow: hidden;
  clear: both;
  color: white;
}

/* Container for buttons */
.container {
  margin-top: 5px;
  text-align: center;
  width: 100%;
}

/* Button style */
.btn{
  border: 1px solid rgb(130, 130, 165);
  background-color: white;
  background: none;
  cursor: pointer;
  font-size: 20px;
  margin: 10px;
  transition: 0.8s;
  padding: 10px 20px;
  position: relative;
  overflow: hidden;
  outline: none;
  color: #333;
}

/* Buttons 4 types (depends on animation) */
.btn-ref,
.btn1,
.btn2,
.btn3,
.btn4,
.btn5 {
      outline:none;
      transition: color 0.2s linear;
      text-decoration: none;
      color: #333;
}

/* Buttons 1, 2, 5 on hover */
.btn1:hover,
.btn5:hover,
.btn2:hover{
  color: rgb(75, 75, 75);
}

/* Buttons 3, 4 on hover */
.btn3:hover,
.btn4:hover,
.btn-ref:hover {
  color: rgb(75, 75, 75);
}

/* Button before */
.btn::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: rgb(245, 245, 255);
  z-index: -1;
  transition: 0.8s;
}

/* Buttons 1, 3, 5 before */
.btn1::before,
.btn5::before,
.btn3::before{
  top: 0;
  border-radius: 0 0 50% 50%;
}

/* Buttons 2, 4, ref before */
.btn2::before,
.btn4::before,
.btn-ref::before {
  bottom: 0;
  border-radius: 50% 50% 0 0;
  color: #333;
}

/* Buttons 3, 4, ref before */
.btn3::before,
.btn4::before,
.btn-ref {
  height: 180%;
}

/* Buttons 1, 2, 5 before */
.btn1:hover::before,
.btn5:hover::before,
.btn2:hover::before {
  height: 180%;
}

/* Buttons 3, 4, on hover before */
.btn3:hover::before,
.btn4:hover::before
.btn-ref:hover::before{
  height: 0%;
}

/* Button to reset scene in operator mode*/
#no-alg {
  margin-top: 0px;
  outline: none;
  float: center;
}

/* Button to reset scene in student mode*/
#no-alg2 {
  margin-top: 0px;
  outline: none;
  float: center;
}

/* Button to exit operator mode */
#op_button {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  float: right;
  margin-top: 0px;
  outline: none;
  padding-left: 0.77%;
  padding-right: 0.77%;
  padding-top: 0.7%;
  padding-bottom: 0.7%;
  max-width: 17.3%;
  min-width: 17.3%;
  background-color: white;
  border-radius: 5px;
  border: solid rgb(130, 130, 165);
  -webkit-box-shadow: 0px 6px 0px rgb(130, 130, 165);
  -moz-box-shadow: 0px 6px 0px rgb(130, 130, 165);
  box-shadow: 0px 6px 0px rgb(130, 130, 165);
}

#no-alg, #no-alg2 {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  margin-top: 0px;
  padding-left: 0.77%;
  padding-right: 0.77%;
  font-size: 18px;
  max-width: 17.3%;
  min-width: 17.3%;
  padding-top: 0.7%;
  padding-bottom: 0.7%;
  background-color: white;
  border-radius: 5px;
  border: solid rgb(130, 130, 165);
  -webkit-box-shadow: 0px 6px 0px rgb(130, 130, 165);
  -moz-box-shadow: 0px 6px 0px rgb(130, 130, 165);
  box-shadow: 0px 6px 0px rgb(130, 130, 165);
}

.small-scene {
height: 100%;
width: 100%;
}

#footer-top-border {
  height: 2%;
  clear: both;
  background-color: lavender;
}