/* Dialog window for adding new structure */
.dialog-add {
    background-color: rgba(255, 0, 255, 0.5);
    border: black solid 1px;
    display: none;
    height: 35%;
    left: 30%;
    overflow: hidden;
    position: fixed;
    top: 30%;
    width: 20%;
}

.hint {
    font-size: 14pt;
    height: 15%;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
}

.input-str {
    height: 15%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    width: 60%;
}

.confirm {
    background-color: lightpink;
    color: orchid;
    float: right;
    height: 10%;
    margin-top: 5%;
}

.confirm:hover {
    background-color: darksalmon;
    cursor: default;
}

#cross1 {
    background-color: tomato;
    float: right;
    font-size: 14pt;
    height: 10%;
    margin-top: 0%;
}

#cross1:hover {
    background-color: whitesmoke;
    color: tomato;
    cursor: default;
}