body {
    font: 12pt Arial, Helvetica, sans-serif; /* Шрифт на веб-странице */
    background: darkslategray; /* Цвет фона */
    color: whitesmoke;
}

#header {
    background-color: pink;
    color: white;
    text-align: center;
    padding: 6px;
    border-radius: 5px;
}

#navigation {
    line-height: 40px;
    background-color: plum;
    height: 590px;
    width: 15%;
    float: left;
    padding: 0px;
    overflow: auto;
    border-radius: 5px;
}

#drawing {
    height: 590px;
    width: auto;
    overflow: hidden;
    background-color: plum;
    border-radius: 5px;
}

#picturesCol {
    height: 100%;
    width: 19%;
    padding: 0px;
    float: right;
    background-color: palevioletred;
    overflow: auto;
    float: right;
    z-index: 1;
    border-radius: 5px;
}

#footer {
    background-color: pink;
    color: white;
    text-align: center;
    padding: 6px;
    clear: both;
    border-radius: 5px;
}

.saveButton {
    padding: 5px 5px;
    text-align: center;
    align-self: center;
    background-color: azure;
    width: 40%;
    height: 20%;
    box-shadow: 0 0 0 rgba(0,0,0,0.1), inset 0 0 0 rgba(0,0,0,0.1);
    font-size: 15px;
}

.button:hover{
    background: rgb(255, 163, 88);
}

.optionList li{
    list-style-type: none
}

.layout {
    overflow: hidden;
}

.layout div div{
    margin: 0 0px; /* Отступы */
    padding: 0px; /* Поля */
    height: 100%; /* Высота колонок */
    background: darksalmon; /* Цвет фона */
    color: #f5e8d0; /* Цвет текста */
    overflow: auto;
}

#outer-dropzone {
    height: 100%;
    width: 80%;
    background-color: white;
    float: left;
    z-index: 2;
    border-radius: 5px;
}

.dropzone {
    background-color: white;
    border: dashed 4px transparent;
    border-radius: 5px;
    margin: 0px auto 0px;
    padding: 0px;
    width: 80%;
    transition: background-color 0.3s;
    z-index: 2;
}

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
  }

.element {
    cursor: move;
  }

.drawing.over {
    border: 2px dashed #000;
}

#elementList {
    overflow: hidden;
}

li {
    padding-left: 2em;
}

/*Этот эффект применить ко всем элементам интерфейса*/
li:hover {
    -webkit-box-shadow: 0px 0px 7px rgba(255,255,255,0.9);
    box-shadow: 0px 0px 7px rgba(255,255,255,0.9);
    background-color: rgb(233, 168, 233);
    cursor: pointer;
}