/* Body */
body {
    font: 10pt Arial, Helvetica, sans-serif;
    background: rgb(138, 102, 138);
    color: whitesmoke;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

/* Operator mode */
.operator {
    height: 100vh;
    width: 100%;
}

/* Header */
#header {
    background-color: pink;
    border-radius: 5px;
    color: white;
    height: 10%;
    padding: 4px;
    text-align: center;
}

/* Drawing window */
#drawing {
    height: 80%;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

/* Zone where it's allowed to drop objects */
.dropzone {
    background-color: white;
    border: 4px black;
    border-radius: 5px;
    display: flex;
    float: left;
    justify-content: space-between;
    height: 100%;
    margin: 0px auto 0px;
    overflow: hidden;
    padding: 0px;
    position: relative;
    width: 80%;
}

/* Drawing window class */
.menu-draw {
    background-color: white;
    border-radius: 5px;
    display: flex;
    float: left;
    justify-content: space-between;
    height: 100%;
    margin: 0px auto 0px;
    overflow: hidden;
    padding: 0px;
    position: relative;
    width: 80%;
}

/* Primitives edit menu */
.primitives {
    background-color: plum;
    border-radius: 5px;
    float: left;
    height: 100%;
    left: 0;
    margin-top: 0;
    overflow: auto;
    transform: translateX(-100%);
    transition: 0.5s;
    width: 20%;
}

/* Show primitives */
.primitives-active {
    transform: translateX(0%);
}

/*Button "Готово" on graphical editor*/
#qbutton {
    color: white;
}

/*Button "Готово" on graphical editor hoover*/
#qbutton:hover {
    -webkit-box-shadow: 0px 0px 5px rgba(255,255,255,0.9);
    box-shadow: 0px 0px 7px rgba(255,255,255,0.9);
    transform: scale(1.03);
    cursor: pointer;
}