body {
    font: 10pt Arial, Helvetica, sans-serif; /* Шрифт на веб-странице */
    background: rgb(138, 102, 138);; /* Цвет фона */
    color: whitesmoke;
    font-family: sans-serif;
    padding: 0;
}

#header {
    background-color: pink;
    color: white;
    text-align: center;
    padding: 4px;
    border-radius: 5px;
}

#drawing {
    height: 570px;
    width: auto;
    overflow: hidden;
    border-radius: 5px;
}

#picturesCol {
    height: 100%;
    width: 19%;
    padding: 0px;
    float: right;
    background-color: rgb(138, 102, 138);
    overflow: auto;
    border-radius: 5px;
}

.saveButton {
    padding: 5px 5px;
    text-align: center;
    align-self: center;
    background-color: azure;
    width: 40%;
    height: 20%;
    box-shadow: 0 0 0 rgba(0,0,0,0.1), inset 0 0 0 rgba(0,0,0,0.1);
    font-size: 15px;
}

.button:hover{
    background: rgb(255, 163, 88);
}

.layout {
    overflow: hidden;
}

.layout div div{
    margin: 0 0px; /* Отступы */
    padding: 0px; /* Поля */
    height: 100%; /* Высота колонок */
    background: darksalmon; /* Цвет фона */
    color: #f5e8d0; /* Цвет текста */
    overflow: auto;
}


#outer-dropzone {
    height: 100%;
    width: 80%;
    background-color: white;
    float: left;
    border-radius: 5px;
}

#inner-dropzone {
    height: 80px;
}

.dropzone {
    background-color: white;
    border: dashed 4px transparent;
    border-radius: 5px;
    margin: 0px auto 0px;
    padding: 0px;
    width: 80%;
    transition: background-color 0.3s;
}

.drop-active {
    border-color: #aaa;
    position: relative;
}

.drop-target {
    background-color: #29e;
    border-color: #fff;
    border-style: solid;
}

.drag-drop {
    display: inline-block;
    touch-action: none;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    transition: background-color 0.3s;
}

.drag-drop.can-drop {
    color: #000;
    background-color: transparent;
}