@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    src: url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap') format('truetype');
}

/* Body */
body {
    font-family: 'Source Sans Pro', sans-serif;
    background: white;
    color: whitesmoke;
    padding: 0;
    margin: 0;
    overflow: hidden; /* Hide scrollbars */
    font-size: large;
}

/* Operator mode */
.operator {
    height: 100vh;
    width: 100%;
}

/* Header */
#header {
    background-color: lavender;
    color: white;
    display: flex;
    height: 15%;
    padding: 4px;
    text-align: center;
}

#student-mode {
    font-family: 'Source Sans Pro', sans-serif;
}

/* Drawing window */
#drawing {
    height: 75%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    background-color: lavender;
    float: left;
}

/* Zone where it's allowed to drop objects */
.dropzone {
    background-color: white;
    display: flex;
    float: left;
    justify-content: space-between;
    height: 100%;
    margin: 0px auto 0px;
    overflow: hidden;
    padding: 0px;
    position: relative;
    width: 85%;
    -webkit-box-shadow: 0px 0px 5px rgba(255,255,255,0.9);
    box-shadow: 0px 0px 7px rgba(255,255,255,0.9);
}

/* Drawing window class */
.menu-draw {
    background-color: white;
    display: flex;
    float: left;
    justify-content: space-between;
    height: 100%;
    margin: 0px auto 0px;
    overflow: hidden;
    padding: 0px;
    position: relative;
    width: 80%;
}

/* Primitives edit menu */
.primitives {
    background-color: whitesmoke;
    float: left;
    height: 100%;
    left: 0;
    margin-top: 0;
    overflow: auto;
    transform: translateX(-100%);
    transition: 0.5s;
    width: 20%;
}

/* Show primitives */
.primitives-active {
    transform: translateX(0%);
}

.primitives-disabled {
    transform: translateX(-100%);
}

#qbutton {
    color: white;
}

#qbutton:hover {
    -webkit-box-shadow: 0px 0px 5px rgba(255,255,255,0.9);
    box-shadow: 0px 0px 7px rgba(255,255,255,0.9);
    transform: scale(1.03);
    cursor: pointer;
}

.algorithm-list {
    display: none;
}

.algorithm-list-vis {
    display: block;
    list-style-type: none;
}

.plus-scene {
    border: thick dashed white;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    font: 14pt Arial, white, sans-serif;
    line-height: 5em;
    height: 5em;
    text-align: center;
    width: 10%;
}

.one-scene {
    background-color: white;
    border: thick solid rgb(245, 245, 255);
    cursor: pointer;
    height: 90%;
    width: 10%;
}